/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  background-color: black; /* Mengubah latar belakang menjadi hitam */
  display: flex;
  justify-content: center; /* Menempatkan konten di tengah secara horizontal */
  align-items: center; /* Menempatkan konten di tengah secara vertikal */
  min-width: 1000px;
  min-height: 100vh;
}


/* Links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Logo styling */
.logo {
  height: 150px; /* Sesuaikan tinggi logo */
  margin-bottom: 20px;
}
